*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
body {
    background: #fafafa;
    height: 100vh;
    background-image: url(./image/Untitled-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    margin-top: 30px;
}

.half-width {
    height: 570px;
    background: #ffffff;
    padding: 30px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(197, 197, 197);
}
.generate-btn{
    margin-top: 140px;
    width: 180px;
    padding: 50px;
    border-radius: 100%;
    background-color: #6600ff;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    box-shadow: 3px 3px 5px rgb(197, 197, 197);
}
.generate-btn:focus{
    outline: none;
    box-shadow: none;
}

input[type='text']{
    background-color: #ffffff;
    padding: 10px 0px;
    color: #6600ff;
    width: 80%;
    margin: 0 auto;
    border:none;
    box-shadow: 3px 3px 5px rgb(197, 197, 197);
    height: 50px;
    padding: 10px;
    text-align: center;
}
input[type='text']:focus {
    background-color: #fcfcfc;
    color: black;
    font-size: 20px;
}
.numbers {
    margin: 30px 0;
}

.calc-typed {
margin-top: 20px;
font-size: 45px;
text-align: right;
color: #fff;
}

.calc-button-row {
width: 100%;
}

.button {
width: 20%;
background: #ffffff;
color: #6600ff;
padding: 20px 0;
margin: 5px;
box-shadow: 3px 3px 5px rgb(197, 197, 197);
display: inline-block;
font-size: 25px;
text-align: center;
vertical-align: middle;
margin-right: -4px;
border-radius: 10px;
cursor: pointer;
}
.blink-me {
color: #E0B612;
}
.submit-btn {
    border: none;
    margin-top: 20px;
    padding: 10px 120px;
    background: #6600ff;
    color: #fff;
    box-shadow: 3px 3px 5px rgb(197, 197, 197);
    border: none;
}
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #6600ff;
    margin-top: 20px;
    padding: 5px 20px;
    box-shadow: 3px 3px 5px rgb(197, 197, 197);

}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
.action-left {
    color: #FF3C5F;
    margin-top: 10px;
}
#right-pin{
    display: none;
}
#wrong-pin{
    display: none;
}